section.aboutUs#aboutUs
    .container.aboutUs__container
        .aboutUs__content
            .aboutUs__info
                h2.section-title.aboutUs__section-title Высокие стандарты разработки
                p.aboutUs__txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  стандартной "рыбой" для текстов на латинице с начала XVI века.
                a.aboutUs__link(href="#") Подробнее о компании
            .aboutUs__img
        .aboutUs__items
            .aboutUs-item
                svg.aboutUs__svg
                    use(xlink:href='img/sprite.svg#aboutUs-svg')
                p.quantity-projects 125
                p.aboutUs-item__txt Our projects
            .aboutUs-item
                svg.aboutUs__svg
                    use(xlink:href='img/sprite.svg#aboutUs-svg')
                p.quantity-projects 125
                p.aboutUs-item__txt Our projects
            .aboutUs-item
                svg.aboutUs__svg
                    use(xlink:href='img/sprite.svg#aboutUs-svg')
                p.quantity-projects 125
                p.aboutUs-item__txt Our projects
            .aboutUs-item
                svg.aboutUs__svg
                    use(xlink:href='img/sprite.svg#aboutUs-svg')
                p.quantity-projects 125
                p.aboutUs-item__txt Our projects
            .aboutUs-item
                svg.aboutUs__svg
                    use(xlink:href='img/sprite.svg#aboutUs-svg')
                p.quantity-projects 125
                p.aboutUs-item__txt Our projects