section.hero
    .container.hero__container
        .hero__content
            span.hero__txt Передовая IT студия
            h1.hero__title Мы создаем легкие решения сложных задач и проблем
            a.btn.hero__btn(href="#") Наши проекты