section.hero#hero
    .container.hero__container
        .hero__content
            h1.hero__title Передовая IT студия
            p.hero__txt Мы создаем легкие решения сложных задач и проблем
            a.btn.hero__btn Наши проекты