section.portfolio#portfolio
    .container.portfolio__container
        .portfolio__head
            h2.section-title.section-title__portfolio Наши проекты
            p.portfolio__txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

        .portfolio__images
            a.portfolio__img_big(data-fslightbox="gallary" href="./img/portfolio__img_big.jpg")
                figure.portfolio__img-wrap
                    img.portfolio__img(src="./img/portfolio__img.png" alt="Скрин проекта" width="255" height="255")
            a.portfolio__img_big(data-fslightbox="gallary" href="./img/portfolio__img2_big.jpg")
                figure.portfolio__img-wrap
                    img.portfolio__img(src="./img/portfolio__img2.jpg" alt="Скрин проекта" width="255" height="255")
            a.portfolio__img_big(data-fslightbox="gallary" href="./img/portfolio__img3_big.jpg")
                figure.portfolio__img-wrap
                    img.portfolio__img(src="./img/portfolio__img3.jpg" alt="Скрин проекта" width="255" height="255")
            a.portfolio__img_big(data-fslightbox="gallary" href="./img/portfolio__img4_big.jpg")
                figure.portfolio__img-wrap
                    img.portfolio__img(src="./img/portfolio__img4.png" alt="Скрин проекта" width="255" height="255")

        .portfolio__images-swiper-wrap
            .portfolio__images-swiper.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a.portfolio__img_big(data-fslightbox="gallary2" href="./img/portfolio__img_big.jpg") 
                            img.portfolio__img(src="./img/portfolio__img.png" alt="Скрин проекта" width="255" height="255")
                    .swiper-slide
                        a.portfolio__img_big(data-fslightbox="gallary2" href="./img/portfolio__img2_big.jpg") 
                            img.portfolio__img(src="./img/portfolio__img2.jpg" alt="Скрин проекта" width="255" height="255")
                    .swiper-slide
                        a.portfolio__img_big(data-fslightbox="gallary2" href="./img/portfolio__img3_big.jpg") 
                            img.portfolio__img(src="./img/portfolio__img3.jpg" alt="Скрин проекта" width="255" height="255")
                    .swiper-slide
                        a.portfolio__img_big(data-fslightbox="gallary2" href="./img/portfolio__img4_big.jpg") 
                            img.portfolio__img(src="./img/portfolio__img4.png" alt="Скрин проекта" width="255" height="255")
            .swiper-container.pagination-container
                .swiper-pagination.portfolio__swiper-pagination

        a.btn.portfolio__btn(href="#") Все проекты