section.portfolio
    .container.portfolio__container
        .portfolio__head
            h2.section-title.section-title__portfolio Наши проекты
            p.portfolio__txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        .portfolio__images
            img.portfolio__img(src="./img/portfolio__img.png", alt="Скрин проекта")
            img.portfolio__img(src="./img/portfolio__img2.png", alt="Скрин проекта")
            img.portfolio__img(src="./img/portfolio__img3.png", alt="Скрин проекта")
            img.portfolio__img(src="./img/portfolio__img4.png", alt="Скрин проекта")
        a.btn.portfolio__btn(href="#") Все проекты