section.portfolio#portfolio
    .container.portfolio__container
        .portfolio__head
            h2.section-title.section-title__portfolio.gs_reveal Наши проекты
            p.portfolio__txt.gs_reveal Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

        .portfolio__images.gs_reveal
            img.portfolio__img(src="./img/portfolio__img.png" alt="Скрин проекта")
            img.portfolio__img(src="./img/portfolio__img2.png" alt="Скрин проекта")
            img.portfolio__img(src="./img/portfolio__img3.png" alt="Скрин проекта")
            img.portfolio__img(src="./img/portfolio__img4.png" alt="Скрин проекта")

        .portfolio__images-swiper-wrap.gs_reveal
            .portfolio__images-swiper.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img.portfolio__img(src="./img/portfolio__img.png" alt="Скрин проекта")
                    .swiper-slide
                        img.portfolio__img(src="./img/portfolio__img2.png" alt="Скрин проекта")
                    .swiper-slide
                        img.portfolio__img(src="./img/portfolio__img3.png" alt="Скрин проекта")
                    .swiper-slide
                        img.portfolio__img(src="./img/portfolio__img4.png" alt="Скрин проекта")
            .swiper-container.pagination-container
                .swiper-pagination.portfolio__swiper-pagination

        a.btn.portfolio__btn(href="#").gs_reveal Все проекты