section.services
    .container.services__container
        h2.section-title.services__section-title Мы создаем мобильные приложения для крупных корпораций
        p.services__txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        .services__items
            .services-item
                .services-item__icon
                    svg.services-item__svg
                        use(xlink:href='img/sprite.svg#services-item__icon')
                .services-item__txt
                    h3.item-title.services__item-title Создание сайтов
                    p.services-item__desc Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
            .services-item
                .services-item__icon
                    svg.services-item__svg
                        use(xlink:href='img/sprite.svg#services-item__icon')
                .services-item__txt
                    h3.item-title.services__item-title Создание сайтов
                    p.services-item__desc Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
            .services-item
                .services-item__icon
                    svg.services-item__svg
                        use(xlink:href='img/sprite.svg#services-item__icon')
                .services-item__txt
                    h3.item-title.services__item-title Создание сайтов
                    p.services-item__desc Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
        a.btn.services__btn(href="#") Все услуги