section.specialization
    .bg
    .container.specialization__container
        .specialization__head
            h2.section-title.specialization__section-title Наши работы, на которых мы специализируемся
            a.btn.specialization__btn Все услуги
        .specialization__items 
            .specialization-item
                .specialization-item__img 
                h3.specialization-item__title 
                    span.specialization-item__title_blue 01. 
                    |Исследование и упаковка
                p.specialization-item__txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                a.specialization-item__link Подробнее
            .specialization-item
                .specialization-item__img 
                h3.specialization-item__title 
                    span.specialization-item__title_blue 01. 
                    |Исследование и упаковка
                p.specialization-item__txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                a.specialization-item__link Подробнее
            .specialization-item
                .specialization-item__img 
                h3.specialization-item__title 
                    span.specialization-item__title_blue 01. 
                    |Исследование и упаковка
                p.specialization-item__txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                a.specialization-item__link Подробнее