section.video.gs_reveal.gs_reveal_fromLeft
    .container.video__container
        h2.section-title.video__section-title.gs_reveal Видео о нашей работе
        p.video__txt.gs_reveal Просто посмотрите, как мы работаем
        video.video-js.vjs-theme-sea#video-1(controls)
            source(src="./resources/video.mp4" type="video/mp4")