footer.footer
    .container.footer__container
        ul.footer__list
            li.footer__item
                h3.footer__head Контактная информация
            li.footer__item
                svg.footer__svg
                    use(xlink:href='img/sprite.svg#icon-message')
                |test@test.ru
            li.footer__item
                svg.footer__svg
                    use(xlink:href='img/sprite.svg#icon-call')
                |+8 777 555 66 99
            li.footer__item
                svg.footer__svg
                    use(xlink:href='img/sprite.svg#icon-location')
                |Москва, Бульвар Ленина 33

        ul.footer__list
            li.footer__item
                h3.footer__head Основные ссылки
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |Главная
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |Наши проекты
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |Наши услуги
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |Контакты

        ul.footer__list
            li.footer__item
                h3.footer__head Наши проекты
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |РосНано
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |Сколково
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |Проект “Восток”
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |ТЭЦ Калининграда

        ul.footer__list
            li.footer__item
                h3.footer__head Социальные сети
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |VK.com
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |Instagram
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |Facebook
            li.footer__item
                a.footer__link(href="#") 
                    svg.footer__svg.footer__svg_arrow
                        use(xlink:href='img/sprite.svg#icon-arrow')
                    |Twitter
    p.footer__copyright (с) 2021. Все права защищены.