header.header
    nav.nav
        a.nav__link(href="#") Главная
        a.nav__link(href="#") Наши проекты
        a.nav__link(href="#") Услуги
        a.nav__link(href="#") Новости
        a.nav__link(href="#") Контакты
    .burger
        span.burger__line
        span.burger__line
        span.burger__line
        span.burger__line
        span.burger__line