header.header
    nav.nav
        a.nav__link(href="#hero") Главная
        a.nav__link(href="#services") Услуги
        a.nav__link(href="#aboutUs") О нас
        a.nav__link(href="#specialization") Специализация
        a.nav__link(href="#portfolio") Наши проекты
        a.nav__link(href="#footer") Контакты
.burger
    span.burger__line
    span.burger__line
    span.burger__line
    span.burger__line
    span.burger__line
nav.nav-mobile
    a.nav-mobile__link(href="#hero") Главная
    a.nav-mobile__link(href="#services") Услуги
    a.nav-mobile__link(href="#aboutUs") О нас
    a.nav-mobile__link(href="#specialization") Специализация
    a.nav-mobile__link(href="#portfolio") Наши проекты
    a.nav-mobile__link(href="#footer") Контакты