.feedback {
    margin-top: 165px;
    padding-bottom: 100px;
    text-align: center;

    &__container {
        border-top: 1px solid #e0e0e0;
        padding-top: 84px;

        @include media(768) {
            padding-top: 40px;
        }
    }

    &__txt {
        &:last-child {
            margin-top: 32px;
            font-size: 13px;
            line-height: 21px;
        }

        &:nth-child(2) {
            margin-top: 10px;
        }
    }

    &__form {
        position: relative;
        margin-top: 22px;

        @include media(768) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__btn {
        border-radius: 0 30px 30px 0;
        width: 190px;
        box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);

        @include media(768) {
            border-radius: 0 0 30px 30px;
            width: 80%;
        }
    }

    @include media(768) {
        margin-top: 100px;
        padding-bottom: 50px;
    }
}

.field-email {
    border: 1px solid #f2f2f2;
    border-radius: 30px 0 0 30px;
    padding: 0 33px;
    width: 299px;
    height: 46px;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    box-sizing: border-box;
    line-height: 21px;
    background-color: #fff;
    transition: 0.2s;

    &::placeholder {
        text-align: center;
        color: #999;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 10px rgba($mainColor, 0.9);
    }

    @include media(768) {
        border-radius: 30px 30px 0 0;
        width: 80%;
        height: 40px;
    }
}
