.header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(#a1a1a1, 0.5);
    width: 100%;
    min-height: 100px;
    color: #fff;

    @include media(768) {
        display: block;
        border-bottom: none;
    }
}

.nav {
    margin-left: 540px;

    &__link {
        border-bottom: 2px solid transparent;
        padding: 40px 20px;
        transition: 0.3s;

        &:hover {
            border-bottom: 2px solid #fff;
        }

        @include media(768) {
            display: inline-block;
            padding: 15px 0;
            width: 100%;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            transform: translate(100%, 0);

            &:hover {
                background-color: darken($mainColor, 2);
            }
        }
    }

    @include media(1135) {
        margin-left: 0;
    }

    @include media(768) {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding-top: 130px;
        width: 100%;
        height: 100vh;
        visibility: hidden;
        transition: 0.6s;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            width: 50%;
            background-color: rgba($mainColor, 0.9);
            transform: translate(-100%, 0);
            transition: 0.6s;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            width: 50%;
            background-color: rgba($mainColor, 0.9);
            transform: translate(100%, 0);
            transition: 0.6s;
        }
    }
}

.nav_active {
    @include media(768) {
        visibility: visible;

        &::before {
            transform: translate(0, 0);
        }

        &::after {
            transform: translate(0, 0);
        }

        .nav__link {
            transform: translate(0, 0);
            transition-duration: 1s;

            &:nth-child(1) {
                transition-delay: 0.1s;
            }

            &:nth-child(2) {
                transition-delay: 0.2s;
            }

            &:nth-child(3) {
                transition-delay: 0.3s;
            }

            &:nth-child(4) {
                transition-delay: 0.4s;
            }

            &:nth-child(5) {
                transition-delay: 0.5s;
            }
        }
    }
}
