.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url("./../img/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        margin-bottom: 21px;
        max-width: 829px;
        text-align: center;
        color: #fff;
    }

    &__txt {
        line-height: 20px;
    }

    &__title {
        margin: 20px 0 34px;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: #fff;

        @include media(768) {
            margin: 20px 0 25px;
            font-size: 28px;
            line-height: 40px;
        }
    }
}

.btn {
    display: inline-block;
    border-radius: 30px;
    padding: 13px 0;
    width: 200px;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: $mainColor;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background-color: darken($mainColor, 10%);
    }

    @include media(768) {
        padding: 10px 0;
        width: 150px;
    }
}