.portfolio {
    padding: 93px 0 130px;
    background-color: #f6f6f8;

    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__txt {
        margin-top: 34px;
        max-width: 730px;
    }

    &__images {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, auto);
        margin-top: 63px;
        gap: 29px;

        @include media(1149) {
            grid-template-columns: repeat(2, auto);
        }

        @include media(768) {
            display: none;
        }
    }

    &__img {
        border-radius: 10px;
    }

    &__btn {
        display: block;
        margin: 41px auto 0;

        @include media(768) {
            margin: 13px auto 0;
        }
    }

    @include media(768) {
        padding: 50px 0;
    }
}

.portfolio__images-swiper-wrap {
    display: none;

    @include media(768) {
        display: block;
        margin-top: 20px;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container {
    height: 20px;
}

.portfolio__swiper-pagination {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;

    &:not(:first-child) {
        margin-left: 5px;
    }
}

.swiper-pagination-bullet-active {
    background: $mainColor;
}
