.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;

    @include media(768) {
        font-size: 22px;
        line-height: 34px;
    }
}

.item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.services {
    padding: 105px 0;
    text-align: center;

    &__section-title {
        margin: 0 auto;
        max-width: 800px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 63px;
        gap: 30px;
    }

    &__item-title {
        text-align: left;
    }

    &__txt {
        margin: 35px auto 0;
        max-width: 730px;
    }

    &-item {
        display: flex;
        min-height: 145px;

        &__icon {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #e0e0e0;
            border-radius: 50%;
            width: 110px;
            height: 110px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 9px;
                bottom: 0;
                display: block;
                margin: 0 auto;
                border: 1px solid $mainColor;
                border-radius: 50%;
                width: 90px;
                height: 90px;

                @include media(768) {
                    top: 4px;
                    width: 50px;
                    height: 50px;
                }
            }

            @include media(768) {
                width: 60px;
                height: 60px;
            }
        }

        &__svg {
            --logo-color: #4985ff;

            width: 40px;
            height: 40px;

            @include media(768) {
                width: 20px;
                height: 20px;
            }
        }

        &__txt {
            align-self: flex-end;
            margin-left: 17px;
        }

        &__desc {
            margin-top: 12px;
            max-width: 222px;
            font-size: 14px;
            line-height: 22px;
            text-align: left;
        }

        @include media(768) {
            min-height: 120px;
        }
    }

    &__btn {
        margin-top: 48px;
    }

    @include media(768) {
        padding: 50px 0;
    }
}
