.specialization {
    position: relative;
    padding-bottom: 85px;

    &__bg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 490px;
        background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;

        @include media(768) {
            height: 400px;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;

        @include media(768) {
            flex-direction: column;
            padding-top: 50px;
            gap: 20px;
        }
    }

    &__section-title {
        max-width: 540px;
        color: #fff;
    }

    &__items {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 52px;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 85px;
        gap: 30px;

        &-swiper-wrap {
            display: none;
            margin-top: 52px;

            @include media(768) {
                display: block;
            }
        }

        @include media(768) {
            display: none;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        max-width: 350px;

        &__img {
            border-radius: 10px;
            width: 350px;
            height: 300px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            &_one {
                background-image: url("./../img/specialization__img.jpg");
            }

            &_two {
                background-image: url("./../img/specialization__img2.jpg");
            }

            &_three {
                background-image: url("./../img/specialization__img3.jpg");
            }

            @include media(768) {
                width: 250px;
                height: 200px;
            }
        }

        &__title {
            margin-top: 30px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;

            &_blue {
                color: $mainColor;
            }
        }

        &__txt {
            margin-top: 23px;
        }

        &__link {
            display: inline-block;
            margin-top: 21px;
            text-decoration: underline;
            color: $mainColor;
            cursor: pointer;
        }

        @include media(1149) {
            align-items: center;
            text-align: center;
        }
    }

    &__swiper-container-pagination {
        bottom: 23px;
    }

    @include media(768) {
        padding-bottom: 50px;
        text-align: center;
    }
}
