extends common/layout

block content
    include includes/index/hero.pug
    include includes/index/services.pug
    include includes/index/aboutUs.pug
    include includes/index/specialization.pug
    //- include includes/index/portfolio.pug
    //- include includes/index/video.pug
    //- include includes/index/feedback.pug